* {
    user-select: none;
}

/*TODO:  Find more suitable green*/
#table {
    background-color:  #197419;
    padding: 1em;
}

div {
    margin-top: .5em;
}

#resultsDisplay {
    /*border: 1px solid black;*/
    padding: .25em;
    background-color: rgba(255, 255, 255, 5%);
}

#resultsList {
    font-weight: bold;
}

#playerDashboard {
    margin-top: 25px;
    border: 1px solid black;
    background-color: lightgray;
    padding: .5em;
}

#playerConsole {

}

button:hover,
td:hover
{
    cursor: pointer;
}

.outside {
    background-color: #438b3b
}

.red, .black {
    color: white
}
.red {
    background-color:  #bf0000;
}
.black {
    background-color: black
}

.selections > span,
td
{
    border: 1px solid black;
    padding: .1em .2em;
    cursor: pointer;
}
