* {
    user-select: none;
}

div {
    margin-top: .5em;
}

#resultsList {
    //border: 1px solid black;
    padding: .25em;
    background-color: rgba(0, 0, 0, 5%)
}

#playerDashboard {
    border: 1px solid black;
    padding: .5em;
}

#playerConsole {

}

button:hover,
td:hover
{
    cursor: pointer;
}

.red {
    color: red;
}

.selections > span,
td
{
    border: 1px solid black;
    padding: .1em .2em;
    cursor: pointer;
}