* {
    user-select: none;
}

#table {
    background-color: #06a108;
    padding: 1em;
}

div {
    margin-top: .5em;
}

#resultsList {
    //border: 1px solid black;
    padding: .25em;
    background-color: rgba(0, 0, 0, 5%)
}

#playerDashboard {
    margin-top: 25px;
    border: 1px solid black;
    background-color: lightgray;
    padding: .5em;
}

#playerConsole {

}

button:hover,
td:hover
{
    cursor: pointer;
}

.red {
    color: #B80C09;
}

.selections > span,
td
{
    border: 1px solid black;
    padding: .1em .2em;
    cursor: pointer;
}
