* {
    user-select: none;
}

/*TODO:  Find more suitable green*/
#table {
    background-color:  #006600;
    padding: 1em;
}

div {
    margin-top: .5em;
}

#resultsDisplay {
    /*border: 1px solid black;*/
    padding: .25em;
    background-color: rgba(0, 0, 0, 5%)
}

#playerDashboard {
    margin-top: 25px;
    border: 1px solid black;
    background-color: lightgray;
    padding: .5em;
}

#playerConsole {

}

button:hover,
td:hover
{
    cursor: pointer;
}

/*TODO:  Find a more visible red.*/
.red {
    color:  #900d09;
}

.selections > span,
td
{
    border: 1px solid black;
    padding: .1em .2em;
    cursor: pointer;
}
